@use "sass:map";

// GREY PATONS
$grey_100: #eeeeee;
$grey_200: #cccccc;
$grey_300: #999999;
$grey_400: #777777;
$grey_500: #666666;
$grey_600: #555555;
$grey_700: #333333;
$grey_800: #111111;
$grey_900: #000000;

// RED PATONS

  $red_100: #fcd8d8;
  $red_200: #f9b2b2;
  $red_300: #f68b8b;
  $red_400: #f36565;
  $red_500: #f03e3e;
  $red_600: #c03232;
  $red_700: #902525;
  $red_800: #601919;
  $red_900: #300c0c;

// YELLOW PATONS
  $yellow_100: #fdeccc;
  $yellow_200: #fbd999;
  $yellow_300: #f9c566;
  $yellow_400: #f7b233;
  $yellow_500: #f59f00;
  $yellow_600: #c47f00;
  $yellow_700: #935f00;
  $yellow_800: #624000;
  $yellow_900: #312000;

// GREEN PATONS
  $green_100: #ceede4;
  $green_200: #9edbc9;
  $green_300: #6dcaae;
  $green_400: #3db893;
  $green_500: #0ca678;
  $green_600: #0a8560;
  $green_700: #076448;
  $green_800: #054230;
  $green_900: #022118;

// BLUE PATONS

  $blue_100: #d2e5f7;
  $blue_200: #a4cbef;
  $blue_300: #77b2e6;
  $blue_400: #4998de;
  $blue_500: #1c7ed6;
  $blue_600: #1665ab;
  $blue_700: #114c80;
  $blue_800: #0b3256;
  $blue_900: #06192b;


