@import url('https://fonts.googleapis.com/css2?family=Forum&family=Mitr:wght@200;300;400;500;600;700&family=Sarala:wght@400;700&display=swap');


// FONT SIZE
// 1. Heading
$head_size_100: 32px;
$head_size_200: 36px;
$head_size_300: 40px;
$head_size_400: 48px;
$head_size_500: 56px;
$head_size_600: 64px;
$head_size_700: 72px;
$head_size_800: 80px;
$head_size_900: 96px;
// 2. Paragraph
$para_size_100: 12px;
$para_size_200: 14px;
$para_size_300: 16px;
$para_size_400: 18px;
$para_size_500: 20px;
$para_size_600: 22px;
$para_size_700: 24px;
$para_size_800: 28px;
$para_size_900: 32px;


// FONT FAMILY
$font_fam_100: "Forum", serif;
$font_fam_200: "Mitr", sans-serif;
$font_fam_300: "Sarala", sans-serif;