main#login_page {
  width: 100vw;
  height: 100vh;
  background: #333333;
  background-image: url("/images/login_bg_feature.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main#login_page div#seciton_frame {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #999999;
}

div.login_page_forms, div.reg_page_forms {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  min-width: 480px;
  height: 100vh;
  background-color: #eeeeee;
}
div.login_page_forms#login_form_container, div.login_page_forms#reg_form_container, div.reg_page_forms#login_form_container, div.reg_page_forms#reg_form_container {
  overflow: scroll;
  padding-bottom: 60px;
  transform: translateX(0);
  animation-name: login_login_form_fading;
  animation-duration: 1s;
  text-align: center;
}
div.login_page_forms#login_form_container div#login_network_row, div.login_page_forms#login_form_container div#reg_network_row, div.login_page_forms#reg_form_container div#login_network_row, div.login_page_forms#reg_form_container div#reg_network_row, div.reg_page_forms#login_form_container div#login_network_row, div.reg_page_forms#login_form_container div#reg_network_row, div.reg_page_forms#reg_form_container div#login_network_row, div.reg_page_forms#reg_form_container div#reg_network_row {
  margin-top: 15%;
}
div.login_page_forms#login_form_container div#login_network_row h2, div.login_page_forms#login_form_container div#reg_network_row h2, div.login_page_forms#reg_form_container div#login_network_row h2, div.login_page_forms#reg_form_container div#reg_network_row h2, div.reg_page_forms#login_form_container div#login_network_row h2, div.reg_page_forms#login_form_container div#reg_network_row h2, div.reg_page_forms#reg_form_container div#login_network_row h2, div.reg_page_forms#reg_form_container div#reg_network_row h2 {
  margin: 2%;
  font-size: 36px;
  line-height: 48px;
  color: #111111;
}
div.login_page_forms#login_form_container div#login_network_row p, div.login_page_forms#login_form_container div#reg_network_row p, div.login_page_forms#reg_form_container div#login_network_row p, div.login_page_forms#reg_form_container div#reg_network_row p, div.reg_page_forms#login_form_container div#login_network_row p, div.reg_page_forms#login_form_container div#reg_network_row p, div.reg_page_forms#reg_form_container div#login_network_row p, div.reg_page_forms#reg_form_container div#reg_network_row p {
  color: #666666;
  line-height: 32px;
}
div.login_page_forms#login_form_container div#login_network_row div img.login_icons, div.login_page_forms#login_form_container div#login_network_row div img.reg_icons, div.login_page_forms#login_form_container div#reg_network_row div img.login_icons, div.login_page_forms#login_form_container div#reg_network_row div img.reg_icons, div.login_page_forms#reg_form_container div#login_network_row div img.login_icons, div.login_page_forms#reg_form_container div#login_network_row div img.reg_icons, div.login_page_forms#reg_form_container div#reg_network_row div img.login_icons, div.login_page_forms#reg_form_container div#reg_network_row div img.reg_icons, div.reg_page_forms#login_form_container div#login_network_row div img.login_icons, div.reg_page_forms#login_form_container div#login_network_row div img.reg_icons, div.reg_page_forms#login_form_container div#reg_network_row div img.login_icons, div.reg_page_forms#login_form_container div#reg_network_row div img.reg_icons, div.reg_page_forms#reg_form_container div#login_network_row div img.login_icons, div.reg_page_forms#reg_form_container div#login_network_row div img.reg_icons, div.reg_page_forms#reg_form_container div#reg_network_row div img.login_icons, div.reg_page_forms#reg_form_container div#reg_network_row div img.reg_icons {
  width: 58px;
  height: 58px;
  margin: 0 8px;
  background: #eeeeee;
  border-radius: 100%;
  cursor: pointer;
}
div.login_page_forms#login_form_container div#login_formik_row, div.login_page_forms#login_form_container div#reg_formik_row, div.login_page_forms#reg_form_container div#login_formik_row, div.login_page_forms#reg_form_container div#reg_formik_row, div.reg_page_forms#login_form_container div#login_formik_row, div.reg_page_forms#login_form_container div#reg_formik_row, div.reg_page_forms#reg_form_container div#login_formik_row, div.reg_page_forms#reg_form_container div#reg_formik_row {
  border-top: 0.5px solid #666666;
  width: 70%;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 8px;
}
div.login_page_forms#login_form_container div#login_formik_row .form_container, div.login_page_forms#login_form_container div#reg_formik_row .form_container, div.login_page_forms#reg_form_container div#login_formik_row .form_container, div.login_page_forms#reg_form_container div#reg_formik_row .form_container, div.reg_page_forms#login_form_container div#login_formik_row .form_container, div.reg_page_forms#login_form_container div#reg_formik_row .form_container, div.reg_page_forms#reg_form_container div#login_formik_row .form_container, div.reg_page_forms#reg_form_container div#reg_formik_row .form_container {
  margin-top: 20px;
}
div.login_page_forms#login_form_container div#login_formik_row::before, div.login_page_forms#login_form_container div#reg_formik_row::before, div.login_page_forms#reg_form_container div#login_formik_row::before, div.login_page_forms#reg_form_container div#reg_formik_row::before, div.reg_page_forms#login_form_container div#login_formik_row::before, div.reg_page_forms#login_form_container div#reg_formik_row::before, div.reg_page_forms#reg_form_container div#login_formik_row::before, div.reg_page_forms#reg_form_container div#reg_formik_row::before {
  content: "OR";
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background-color: #eeeeee;
  width: 40px;
  color: #666666;
  font-size: 14px;
  z-index: 100;
}
div.login_page_forms#login_form_container div#login_btn_box, div.login_page_forms#login_form_container div#reg_btn_box, div.login_page_forms#reg_form_container div#login_btn_box, div.login_page_forms#reg_form_container div#reg_btn_box, div.reg_page_forms#login_form_container div#login_btn_box, div.reg_page_forms#login_form_container div#reg_btn_box, div.reg_page_forms#reg_form_container div#login_btn_box, div.reg_page_forms#reg_form_container div#reg_btn_box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px 0;
}
div.login_page_forms#login_form_container div#login_btn_box button, div.login_page_forms#login_form_container div#reg_btn_box button, div.login_page_forms#reg_form_container div#login_btn_box button, div.login_page_forms#reg_form_container div#reg_btn_box button, div.reg_page_forms#login_form_container div#login_btn_box button, div.reg_page_forms#login_form_container div#reg_btn_box button, div.reg_page_forms#reg_form_container div#login_btn_box button, div.reg_page_forms#reg_form_container div#reg_btn_box button {
  width: 48%;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
div.login_page_forms#login_form_container div#login_btn_box button:first-child, div.login_page_forms#login_form_container div#reg_btn_box button:first-child, div.login_page_forms#reg_form_container div#login_btn_box button:first-child, div.login_page_forms#reg_form_container div#reg_btn_box button:first-child, div.reg_page_forms#login_form_container div#login_btn_box button:first-child, div.reg_page_forms#login_form_container div#reg_btn_box button:first-child, div.reg_page_forms#reg_form_container div#login_btn_box button:first-child, div.reg_page_forms#reg_form_container div#reg_btn_box button:first-child {
  border: 0.5px solid #333333;
  background-color: #eeeeee;
  color: #333333;
}
div.login_page_forms#login_form_container div#login_btn_box button:last-child, div.login_page_forms#login_form_container div#reg_btn_box button:last-child, div.login_page_forms#reg_form_container div#login_btn_box button:last-child, div.login_page_forms#reg_form_container div#reg_btn_box button:last-child, div.reg_page_forms#login_form_container div#login_btn_box button:last-child, div.reg_page_forms#login_form_container div#reg_btn_box button:last-child, div.reg_page_forms#reg_form_container div#login_btn_box button:last-child, div.reg_page_forms#reg_form_container div#reg_btn_box button:last-child {
  background-color: #333333;
  color: #eeeeee;
}
div.login_page_forms#login_form_container div#login_forget_password, div.login_page_forms#login_form_container div#reg_forget_password, div.login_page_forms#reg_form_container div#login_forget_password, div.login_page_forms#reg_form_container div#reg_forget_password, div.reg_page_forms#login_form_container div#login_forget_password, div.reg_page_forms#login_form_container div#reg_forget_password, div.reg_page_forms#reg_form_container div#login_forget_password, div.reg_page_forms#reg_form_container div#reg_forget_password {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: 14px;
  font-size: 14px;
  cursor: pointer;
}
div.login_page_forms#login_form_container div#login_forget_password span, div.login_page_forms#login_form_container div#reg_forget_password span, div.login_page_forms#reg_form_container div#login_forget_password span, div.login_page_forms#reg_form_container div#reg_forget_password span, div.reg_page_forms#login_form_container div#login_forget_password span, div.reg_page_forms#login_form_container div#reg_forget_password span, div.reg_page_forms#reg_form_container div#login_forget_password span, div.reg_page_forms#reg_form_container div#reg_forget_password span {
  color: #1665ab;
  font-weight: bold;
}
div.login_page_forms#login_form_container div#login_forget_password span:hover, div.login_page_forms#login_form_container div#reg_forget_password span:hover, div.login_page_forms#reg_form_container div#login_forget_password span:hover, div.login_page_forms#reg_form_container div#reg_forget_password span:hover, div.reg_page_forms#login_form_container div#login_forget_password span:hover, div.reg_page_forms#login_form_container div#reg_forget_password span:hover, div.reg_page_forms#reg_form_container div#login_forget_password span:hover, div.reg_page_forms#reg_form_container div#reg_forget_password span:hover {
  filter: brightness(1.2);
  text-decoration: underline;
  text-underline-offset: 4px;
}
div.login_page_forms#login_form_container div#login_switcher_trigger, div.login_page_forms#login_form_container div#reg_switcher_trigger, div.login_page_forms#reg_form_container div#login_switcher_trigger, div.login_page_forms#reg_form_container div#reg_switcher_trigger, div.reg_page_forms#login_form_container div#login_switcher_trigger, div.reg_page_forms#login_form_container div#reg_switcher_trigger, div.reg_page_forms#reg_form_container div#login_switcher_trigger, div.reg_page_forms#reg_form_container div#reg_switcher_trigger {
  margin-top: 28px;
  margin-left: 14px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
}
div.login_page_forms#login_form_container div#login_switcher_trigger p, div.login_page_forms#login_form_container div#reg_switcher_trigger p, div.login_page_forms#reg_form_container div#login_switcher_trigger p, div.login_page_forms#reg_form_container div#reg_switcher_trigger p, div.reg_page_forms#login_form_container div#login_switcher_trigger p, div.reg_page_forms#login_form_container div#reg_switcher_trigger p, div.reg_page_forms#reg_form_container div#login_switcher_trigger p, div.reg_page_forms#reg_form_container div#reg_switcher_trigger p {
  color: #666666;
}
div.login_page_forms#login_form_container div#login_switcher_trigger p span, div.login_page_forms#login_form_container div#reg_switcher_trigger p span, div.login_page_forms#reg_form_container div#login_switcher_trigger p span, div.login_page_forms#reg_form_container div#reg_switcher_trigger p span, div.reg_page_forms#login_form_container div#login_switcher_trigger p span, div.reg_page_forms#login_form_container div#reg_switcher_trigger p span, div.reg_page_forms#reg_form_container div#login_switcher_trigger p span, div.reg_page_forms#reg_form_container div#reg_switcher_trigger p span {
  color: #1665ab;
  font-weight: bold;
}
div.login_page_forms#login_form_container div#login_switcher_trigger p span:hover, div.login_page_forms#login_form_container div#reg_switcher_trigger p span:hover, div.login_page_forms#reg_form_container div#login_switcher_trigger p span:hover, div.login_page_forms#reg_form_container div#reg_switcher_trigger p span:hover, div.reg_page_forms#login_form_container div#login_switcher_trigger p span:hover, div.reg_page_forms#login_form_container div#reg_switcher_trigger p span:hover, div.reg_page_forms#reg_form_container div#login_switcher_trigger p span:hover, div.reg_page_forms#reg_form_container div#reg_switcher_trigger p span:hover {
  filter: brightness(1.2);
  text-decoration: underline;
  text-underline-offset: 4px;
}

@keyframes login_login_form_fading {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0);
  }
}/*# sourceMappingURL=loginPage.css.map */