*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main#home_page #home_section_hero {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
main#home_page #home_section_hero::before {
  content: " ";
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url("/images/home_bg_hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -300;
}
main#home_page #home_section_hero::after {
  content: " ";
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(150deg, transparent 0%, transparent 45%, #000000 80%, #000000 100%);
  filter: brightness(0.7);
  z-index: -100;
}
main#home_page #home_section_hero #home_video_bg_lazy {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -200;
}
main#home_page #home_section_hero #home_video_bg {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -200;
  filter: brightness(0.6);
}
main#home_page #home_section_hero #home_hero_textbox {
  position: absolute;
  width: 50%;
  min-width: 400px;
  top: 24%;
  right: 10vw;
  padding: 56px 36px;
  color: #999999;
}
main#home_page #home_section_hero #home_hero_textbox h1 {
  font-size: 36px;
  text-align: center;
  animation-name: home_hero_h1_fading;
  animation-duration: 1.5s;
}
main#home_page #home_section_hero #home_hero_textbox h2 {
  margin-top: 20px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  animation-name: home_hero_h2_fading;
  animation-duration: 1.5s;
}
main#home_page #home_section_hero #home_hero_textbox div {
  display: flex;
  justify-content: center;
}
main#home_page #home_section_hero #home_hero_textbox div button {
  margin-top: 42px;
  padding: 18px 24px;
  font-size: 20px;
  color: #999999;
  border: 2px solid #999999;
  background-color: transparent;
  animation-name: home_hero_h2_fading;
  animation-duration: 4s;
  cursor: pointer;
}

@keyframes home_hero_h1_fading {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  25% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes home_hero_h2_fading {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  25% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes home_hero_button_fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main#login_page {
  width: 100vw;
  height: 100vh;
  background: #333333;
  background-image: url("/images/login_bg_feature.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main#login_page div#seciton_frame {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #333333;
}
main#login_page div#seciton_frame div.login_page_forms, main#login_page div#seciton_frame div.reg_page_forms {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  min-width: 480px;
  height: 100vh;
  background-color: white;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container, main#login_page div#seciton_frame div.login_page_forms#reg_form_container, main#login_page div#seciton_frame div.reg_page_forms#login_form_container, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container {
  overflow: scroll;
  padding-bottom: 60px;
  transform: translateX(0);
  animation-name: login_login_form_fading;
  animation-duration: 1s;
  text-align: center;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_network_row, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_network_row, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_network_row, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_network_row, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_network_row, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_network_row, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_network_row, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_network_row {
  margin-top: 15%;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_network_row h2, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_network_row h2, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_network_row h2, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_network_row h2, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_network_row h2, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_network_row h2, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_network_row h2, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_network_row h2 {
  margin: 2%;
  font-size: 36px;
  line-height: 48px;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_network_row p, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_network_row p, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_network_row p, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_network_row p, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_network_row p, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_network_row p, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_network_row p, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_network_row p {
  color: #666666;
  line-height: 32px;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_network_row div img.login_icons, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_network_row div img.reg_icons, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_network_row div img.login_icons, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_network_row div img.reg_icons, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_network_row div img.login_icons, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_network_row div img.reg_icons, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_network_row div img.login_icons, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_network_row div img.reg_icons, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_network_row div img.login_icons, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_network_row div img.reg_icons, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_network_row div img.login_icons, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_network_row div img.reg_icons, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_network_row div img.login_icons, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_network_row div img.reg_icons, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_network_row div img.login_icons, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_network_row div img.reg_icons {
  width: 58px;
  height: 58px;
  margin: 0 8px;
  background: #ffffff;
  border-radius: 100%;
  cursor: pointer;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_formik_row, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_formik_row, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_formik_row, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_formik_row, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_formik_row, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_formik_row, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_formik_row, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_formik_row {
  border-top: 0.5px solid #666666;
  width: 70%;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 8px;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_formik_row .form_container, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_formik_row .form_container, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_formik_row .form_container, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_formik_row .form_container, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_formik_row .form_container, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_formik_row .form_container, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_formik_row .form_container, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_formik_row .form_container {
  margin-top: 24px;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_formik_row::before, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_formik_row::before, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_formik_row::before, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_formik_row::before, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_formik_row::before, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_formik_row::before, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_formik_row::before, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_formik_row::before {
  content: "OR";
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  width: 40px;
  color: #666666;
  font-size: 14px;
  z-index: 100;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_btn_box, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_btn_box, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_btn_box, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_btn_box, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_btn_box, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_btn_box, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_btn_box, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_btn_box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_btn_box button, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_btn_box button, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_btn_box button, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_btn_box button, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_btn_box button, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_btn_box button, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_btn_box button, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_btn_box button {
  width: 48%;
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_btn_box button:first-child, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_btn_box button:first-child, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_btn_box button:first-child, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_btn_box button:first-child, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_btn_box button:first-child, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_btn_box button:first-child, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_btn_box button:first-child, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_btn_box button:first-child {
  border: 0.5px solid #333333;
  background-color: #ffffff;
  color: #333333;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_btn_box button:last-child, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_btn_box button:last-child, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_btn_box button:last-child, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_btn_box button:last-child, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_btn_box button:last-child, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_btn_box button:last-child, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_btn_box button:last-child, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_btn_box button:last-child {
  background-color: #333333;
  color: #ffffff;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_forget_password, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_forget_password, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_forget_password, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_forget_password, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_forget_password, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_forget_password, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_forget_password, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_forget_password {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: 14px;
  cursor: pointer;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_forget_password span, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_forget_password span, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_forget_password span, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_forget_password span, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_forget_password span, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_forget_password span, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_forget_password span, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_forget_password span {
  color: #1864ab;
  font-weight: bold;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_forget_password span:hover, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_forget_password span:hover, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_forget_password span:hover, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_forget_password span:hover, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_forget_password span:hover, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_forget_password span:hover, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_forget_password span:hover, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_forget_password span:hover {
  color: #228be6;
  text-decoration: underline;
  text-underline-offset: 4px;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_switcher_trigger, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_switcher_trigger, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_switcher_trigger, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_switcher_trigger, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_switcher_trigger, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_switcher_trigger, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_switcher_trigger, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_switcher_trigger {
  margin-top: 28px;
  margin-left: 14px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_switcher_trigger p, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_switcher_trigger p, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_switcher_trigger p, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_switcher_trigger p, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_switcher_trigger p, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_switcher_trigger p, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_switcher_trigger p, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_switcher_trigger p {
  color: #666666;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_switcher_trigger p span, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_switcher_trigger p span, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_switcher_trigger p span, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_switcher_trigger p span, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_switcher_trigger p span, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_switcher_trigger p span, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_switcher_trigger p span, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_switcher_trigger p span {
  color: #1864ab;
  font-weight: bold;
}
main#login_page div#seciton_frame div.login_page_forms#login_form_container div#login_switcher_trigger p span:hover, main#login_page div#seciton_frame div.login_page_forms#login_form_container div#reg_switcher_trigger p span:hover, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#login_switcher_trigger p span:hover, main#login_page div#seciton_frame div.login_page_forms#reg_form_container div#reg_switcher_trigger p span:hover, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#login_switcher_trigger p span:hover, main#login_page div#seciton_frame div.reg_page_forms#login_form_container div#reg_switcher_trigger p span:hover, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#login_switcher_trigger p span:hover, main#login_page div#seciton_frame div.reg_page_forms#reg_form_container div#reg_switcher_trigger p span:hover {
  color: #228be6;
  text-decoration: underline;
  text-underline-offset: 4px;
}

@keyframes login_login_form_fading {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0);
  }
}
.form_container {
  text-align: left;
}

.text_field_row {
  padding: 8px 0;
}

.text_field_row_main {
  height: 80px;
}

.text_field_label {
  display: block;
  padding-left: 14px;
  text-transform: capitalize;
  color: #666666;
  font-size: 14px;
  font-weight: bold;
}

.text_field_input {
  display: block;
  width: 100%;
  height: 48px;
  padding-left: 14px;
  border-radius: 20px;
  font-size: 18px;
  color: #333333;
}

.formik_error_msgs {
  padding: 0px 14px;
  font-size: 14px;
  line-height: 0;
  color: red;
}/*# sourceMappingURL=index.css.map */