main#home_page #home_section_hero {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
main#home_page #home_section_hero::before {
  content: " ";
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url("/images/home_bg_hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -300;
}
main#home_page #home_section_hero::after {
  content: " ";
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(150deg, transparent 0%, transparent 45%, #000000 80%, #000000 100%);
  filter: brightness(0.7);
  z-index: -100;
}

#home_video_bg_lazy {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -200;
}

#home_video_bg {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -200;
  filter: brightness(0.6);
}

#home_hero_textbox {
  position: absolute;
  width: 50%;
  min-width: 400px;
  top: 24%;
  right: 10vw;
  padding: 56px 36px;
  color: #999999;
}
#home_hero_textbox h1 {
  font-size: 36px;
  text-align: center;
  animation-name: home_hero_h1_fading;
  animation-duration: 1.5s;
}
#home_hero_textbox h2 {
  margin-top: 20px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  animation-name: home_hero_h2_fading;
  animation-duration: 1.5s;
}
#home_hero_textbox div {
  display: flex;
  justify-content: center;
}
#home_hero_textbox div button {
  margin-top: 42px;
  padding: 18px 24px;
  font-size: 20px;
  color: #999999;
  border: 2px solid #999999;
  background-color: transparent;
  animation-name: home_hero_h2_fading;
  animation-duration: 4s;
  cursor: pointer;
}

@keyframes home_hero_h1_fading {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  25% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes home_hero_h2_fading {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  25% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes home_hero_button_fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main#login_page {
  width: 100vw;
  height: 100vh;
  background: #333333;
  background-image: url("/images/login_bg_feature.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main#login_page div#seciton_frame {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #999999;
}

div.login_page_forms, div.reg_page_forms {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  min-width: 480px;
  height: 100vh;
  background-color: #eeeeee;
}
div.login_page_forms#login_form_container, div.login_page_forms#reg_form_container, div.reg_page_forms#login_form_container, div.reg_page_forms#reg_form_container {
  overflow: scroll;
  padding-bottom: 60px;
  transform: translateX(0);
  animation-name: login_login_form_fading;
  animation-duration: 1s;
  text-align: center;
}
div.login_page_forms#login_form_container div#login_network_row, div.login_page_forms#login_form_container div#reg_network_row, div.login_page_forms#reg_form_container div#login_network_row, div.login_page_forms#reg_form_container div#reg_network_row, div.reg_page_forms#login_form_container div#login_network_row, div.reg_page_forms#login_form_container div#reg_network_row, div.reg_page_forms#reg_form_container div#login_network_row, div.reg_page_forms#reg_form_container div#reg_network_row {
  margin-top: 15%;
}
div.login_page_forms#login_form_container div#login_network_row h2, div.login_page_forms#login_form_container div#reg_network_row h2, div.login_page_forms#reg_form_container div#login_network_row h2, div.login_page_forms#reg_form_container div#reg_network_row h2, div.reg_page_forms#login_form_container div#login_network_row h2, div.reg_page_forms#login_form_container div#reg_network_row h2, div.reg_page_forms#reg_form_container div#login_network_row h2, div.reg_page_forms#reg_form_container div#reg_network_row h2 {
  margin: 2%;
  font-size: 36px;
  line-height: 48px;
  color: #111111;
}
div.login_page_forms#login_form_container div#login_network_row p, div.login_page_forms#login_form_container div#reg_network_row p, div.login_page_forms#reg_form_container div#login_network_row p, div.login_page_forms#reg_form_container div#reg_network_row p, div.reg_page_forms#login_form_container div#login_network_row p, div.reg_page_forms#login_form_container div#reg_network_row p, div.reg_page_forms#reg_form_container div#login_network_row p, div.reg_page_forms#reg_form_container div#reg_network_row p {
  color: #666666;
  line-height: 32px;
}
div.login_page_forms#login_form_container div#login_network_row div img.login_icons, div.login_page_forms#login_form_container div#login_network_row div img.reg_icons, div.login_page_forms#login_form_container div#reg_network_row div img.login_icons, div.login_page_forms#login_form_container div#reg_network_row div img.reg_icons, div.login_page_forms#reg_form_container div#login_network_row div img.login_icons, div.login_page_forms#reg_form_container div#login_network_row div img.reg_icons, div.login_page_forms#reg_form_container div#reg_network_row div img.login_icons, div.login_page_forms#reg_form_container div#reg_network_row div img.reg_icons, div.reg_page_forms#login_form_container div#login_network_row div img.login_icons, div.reg_page_forms#login_form_container div#login_network_row div img.reg_icons, div.reg_page_forms#login_form_container div#reg_network_row div img.login_icons, div.reg_page_forms#login_form_container div#reg_network_row div img.reg_icons, div.reg_page_forms#reg_form_container div#login_network_row div img.login_icons, div.reg_page_forms#reg_form_container div#login_network_row div img.reg_icons, div.reg_page_forms#reg_form_container div#reg_network_row div img.login_icons, div.reg_page_forms#reg_form_container div#reg_network_row div img.reg_icons {
  width: 58px;
  height: 58px;
  margin: 0 8px;
  background: #eeeeee;
  border-radius: 100%;
  cursor: pointer;
}
div.login_page_forms#login_form_container div#login_formik_row, div.login_page_forms#login_form_container div#reg_formik_row, div.login_page_forms#reg_form_container div#login_formik_row, div.login_page_forms#reg_form_container div#reg_formik_row, div.reg_page_forms#login_form_container div#login_formik_row, div.reg_page_forms#login_form_container div#reg_formik_row, div.reg_page_forms#reg_form_container div#login_formik_row, div.reg_page_forms#reg_form_container div#reg_formik_row {
  border-top: 0.5px solid #666666;
  width: 70%;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 8px;
}
div.login_page_forms#login_form_container div#login_formik_row .form_container, div.login_page_forms#login_form_container div#reg_formik_row .form_container, div.login_page_forms#reg_form_container div#login_formik_row .form_container, div.login_page_forms#reg_form_container div#reg_formik_row .form_container, div.reg_page_forms#login_form_container div#login_formik_row .form_container, div.reg_page_forms#login_form_container div#reg_formik_row .form_container, div.reg_page_forms#reg_form_container div#login_formik_row .form_container, div.reg_page_forms#reg_form_container div#reg_formik_row .form_container {
  margin-top: 20px;
}
div.login_page_forms#login_form_container div#login_formik_row::before, div.login_page_forms#login_form_container div#reg_formik_row::before, div.login_page_forms#reg_form_container div#login_formik_row::before, div.login_page_forms#reg_form_container div#reg_formik_row::before, div.reg_page_forms#login_form_container div#login_formik_row::before, div.reg_page_forms#login_form_container div#reg_formik_row::before, div.reg_page_forms#reg_form_container div#login_formik_row::before, div.reg_page_forms#reg_form_container div#reg_formik_row::before {
  content: "OR";
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background-color: #eeeeee;
  width: 40px;
  color: #666666;
  font-size: 14px;
  z-index: 100;
}
div.login_page_forms#login_form_container div#login_btn_box, div.login_page_forms#login_form_container div#reg_btn_box, div.login_page_forms#reg_form_container div#login_btn_box, div.login_page_forms#reg_form_container div#reg_btn_box, div.reg_page_forms#login_form_container div#login_btn_box, div.reg_page_forms#login_form_container div#reg_btn_box, div.reg_page_forms#reg_form_container div#login_btn_box, div.reg_page_forms#reg_form_container div#reg_btn_box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px 0;
}
div.login_page_forms#login_form_container div#login_btn_box button, div.login_page_forms#login_form_container div#reg_btn_box button, div.login_page_forms#reg_form_container div#login_btn_box button, div.login_page_forms#reg_form_container div#reg_btn_box button, div.reg_page_forms#login_form_container div#login_btn_box button, div.reg_page_forms#login_form_container div#reg_btn_box button, div.reg_page_forms#reg_form_container div#login_btn_box button, div.reg_page_forms#reg_form_container div#reg_btn_box button {
  width: 48%;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
div.login_page_forms#login_form_container div#login_btn_box button:first-child, div.login_page_forms#login_form_container div#reg_btn_box button:first-child, div.login_page_forms#reg_form_container div#login_btn_box button:first-child, div.login_page_forms#reg_form_container div#reg_btn_box button:first-child, div.reg_page_forms#login_form_container div#login_btn_box button:first-child, div.reg_page_forms#login_form_container div#reg_btn_box button:first-child, div.reg_page_forms#reg_form_container div#login_btn_box button:first-child, div.reg_page_forms#reg_form_container div#reg_btn_box button:first-child {
  border: 0.5px solid #333333;
  background-color: #eeeeee;
  color: #333333;
}
div.login_page_forms#login_form_container div#login_btn_box button:last-child, div.login_page_forms#login_form_container div#reg_btn_box button:last-child, div.login_page_forms#reg_form_container div#login_btn_box button:last-child, div.login_page_forms#reg_form_container div#reg_btn_box button:last-child, div.reg_page_forms#login_form_container div#login_btn_box button:last-child, div.reg_page_forms#login_form_container div#reg_btn_box button:last-child, div.reg_page_forms#reg_form_container div#login_btn_box button:last-child, div.reg_page_forms#reg_form_container div#reg_btn_box button:last-child {
  background-color: #333333;
  color: #eeeeee;
}
div.login_page_forms#login_form_container div#login_forget_password, div.login_page_forms#login_form_container div#reg_forget_password, div.login_page_forms#reg_form_container div#login_forget_password, div.login_page_forms#reg_form_container div#reg_forget_password, div.reg_page_forms#login_form_container div#login_forget_password, div.reg_page_forms#login_form_container div#reg_forget_password, div.reg_page_forms#reg_form_container div#login_forget_password, div.reg_page_forms#reg_form_container div#reg_forget_password {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: 14px;
  font-size: 14px;
  cursor: pointer;
}
div.login_page_forms#login_form_container div#login_forget_password span, div.login_page_forms#login_form_container div#reg_forget_password span, div.login_page_forms#reg_form_container div#login_forget_password span, div.login_page_forms#reg_form_container div#reg_forget_password span, div.reg_page_forms#login_form_container div#login_forget_password span, div.reg_page_forms#login_form_container div#reg_forget_password span, div.reg_page_forms#reg_form_container div#login_forget_password span, div.reg_page_forms#reg_form_container div#reg_forget_password span {
  color: #1665ab;
  font-weight: bold;
}
div.login_page_forms#login_form_container div#login_forget_password span:hover, div.login_page_forms#login_form_container div#reg_forget_password span:hover, div.login_page_forms#reg_form_container div#login_forget_password span:hover, div.login_page_forms#reg_form_container div#reg_forget_password span:hover, div.reg_page_forms#login_form_container div#login_forget_password span:hover, div.reg_page_forms#login_form_container div#reg_forget_password span:hover, div.reg_page_forms#reg_form_container div#login_forget_password span:hover, div.reg_page_forms#reg_form_container div#reg_forget_password span:hover {
  filter: brightness(1.2);
  text-decoration: underline;
  text-underline-offset: 4px;
}
div.login_page_forms#login_form_container div#login_switcher_trigger, div.login_page_forms#login_form_container div#reg_switcher_trigger, div.login_page_forms#reg_form_container div#login_switcher_trigger, div.login_page_forms#reg_form_container div#reg_switcher_trigger, div.reg_page_forms#login_form_container div#login_switcher_trigger, div.reg_page_forms#login_form_container div#reg_switcher_trigger, div.reg_page_forms#reg_form_container div#login_switcher_trigger, div.reg_page_forms#reg_form_container div#reg_switcher_trigger {
  margin-top: 28px;
  margin-left: 14px;
  display: flex;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
}
div.login_page_forms#login_form_container div#login_switcher_trigger p, div.login_page_forms#login_form_container div#reg_switcher_trigger p, div.login_page_forms#reg_form_container div#login_switcher_trigger p, div.login_page_forms#reg_form_container div#reg_switcher_trigger p, div.reg_page_forms#login_form_container div#login_switcher_trigger p, div.reg_page_forms#login_form_container div#reg_switcher_trigger p, div.reg_page_forms#reg_form_container div#login_switcher_trigger p, div.reg_page_forms#reg_form_container div#reg_switcher_trigger p {
  color: #666666;
}
div.login_page_forms#login_form_container div#login_switcher_trigger p span, div.login_page_forms#login_form_container div#reg_switcher_trigger p span, div.login_page_forms#reg_form_container div#login_switcher_trigger p span, div.login_page_forms#reg_form_container div#reg_switcher_trigger p span, div.reg_page_forms#login_form_container div#login_switcher_trigger p span, div.reg_page_forms#login_form_container div#reg_switcher_trigger p span, div.reg_page_forms#reg_form_container div#login_switcher_trigger p span, div.reg_page_forms#reg_form_container div#reg_switcher_trigger p span {
  color: #1665ab;
  font-weight: bold;
}
div.login_page_forms#login_form_container div#login_switcher_trigger p span:hover, div.login_page_forms#login_form_container div#reg_switcher_trigger p span:hover, div.login_page_forms#reg_form_container div#login_switcher_trigger p span:hover, div.login_page_forms#reg_form_container div#reg_switcher_trigger p span:hover, div.reg_page_forms#login_form_container div#login_switcher_trigger p span:hover, div.reg_page_forms#login_form_container div#reg_switcher_trigger p span:hover, div.reg_page_forms#reg_form_container div#login_switcher_trigger p span:hover, div.reg_page_forms#reg_form_container div#reg_switcher_trigger p span:hover {
  filter: brightness(1.2);
  text-decoration: underline;
  text-underline-offset: 4px;
}

@keyframes login_login_form_fading {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0);
  }
}
main.user_dashboard_layouts {
  display: flex;
}

aside.user_dashboard_sidebar {
  overflow-y: scroll;
  width: 240px;
  height: 100vh;
  background: linear-gradient(to right, #000000 0%, #333333 100%);
  padding: 20px 0;
  transition: transform 0.7s ease-in-out;
}
aside.user_dashboard_sidebar div#sidebar_section_titleBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}
aside.user_dashboard_sidebar div#sidebar_section_titleBox h1 {
  color: #eeeeee;
}
aside.user_dashboard_sidebar div.div_for_scrolling {
  margin-top: 24px;
}
aside.user_dashboard_sidebar div.div_for_scrolling div.sidebar_section_panels {
  color: #eeeeee;
}
aside.user_dashboard_sidebar div.div_for_scrolling div.sidebar_section_panels div.sidebar_section_panelheads {
  padding-left: 18px;
  display: flex;
  align-items: center;
}
aside.user_dashboard_sidebar div.div_for_scrolling div.sidebar_section_panels div.sidebar_section_panelheads img {
  width: 16px;
  height: 16px;
}
aside.user_dashboard_sidebar div.div_for_scrolling div.sidebar_section_panels div.sidebar_section_panelheads h4 b {
  padding: 0 8px;
  font-size: 18px;
  line-height: 28px;
}
aside.user_dashboard_sidebar div.div_for_scrolling div.sidebar_section_panels div.sidebar_section_panelbodys ul {
  list-style-type: none;
}
aside.user_dashboard_sidebar div.div_for_scrolling div.sidebar_section_panels div.sidebar_section_panelbodys ul li {
  padding-left: 46px;
  padding-right: 8px;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
aside.user_dashboard_sidebar div.div_for_scrolling div.sidebar_section_panels div.sidebar_section_panelbodys ul li:hover {
  background-color: #333333;
}
aside.user_dashboard_sidebar div.div_for_scrolling div.sidebar_section_panels div.sidebar_section_panelbodys details summary {
  padding-left: 46px;
  font-size: 16px;
  line-height: 24px;
  list-style-image: url("/icons/folder.svg");
  cursor: pointer;
}
aside.user_dashboard_sidebar div.div_for_scrolling div.sidebar_section_panels div.sidebar_section_panelbodys details summary:hover {
  background-color: #333333;
}
aside.user_dashboard_sidebar div.div_for_scrolling div.sidebar_section_panels div.sidebar_section_panelbodys details summary span {
  padding-left: 4px;
}
aside.user_dashboard_sidebar div.div_for_scrolling div.sidebar_section_panels div.sidebar_section_panelbodys details ul li {
  padding-left: 62px;
}
aside.user_dashboard_sidebar div.div_for_scrolling div.sidebar_section_panels div.sidebar_section_panelbodys details ul li:hover {
  background-color: #333333;
}
aside.user_dashboard_sidebar div.div_for_scrolling div.sidebar_section_panels div.sidebar_section_panelbodys details ul li img {
  width: 15px;
  height: 15px;
}
aside.user_dashboard_sidebar div.div_for_scrolling div.sidebar_section_panels div.sidebar_section_panelbodys details ul li span {
  padding-left: 4px;
}
aside.user_dashboard_sidebar div.div_for_scrolling div#sidebar_section_projectPanel {
  margin-top: 12px;
  color: #eeeeee;
}

@media screen and (max-width: 768px) {
  main.user_dashboard_layouts aside.user_dashboard_sidebar {
    transform: translateX(-100%);
    transition: transform 0.7s ease-in-out;
  }
}
main#user_dashboard_main_frame p {
  font-size: 28px;
  font-weight: bold;
}
main#user_dashboard_main_frame div.user_dashboard_fields {
  margin-top: 24px;
}
main#user_dashboard_main_frame div.user_dashboard_fields div.dashboard_field_titles {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  padding: 4px 0;
  font-weight: bold;
  font-size: 24px;
}
main#user_dashboard_main_frame div.user_dashboard_fields div.dashboard_field_contentBox {
  display: flex;
  border-radius: 10px;
  padding: 12px 12px 36px 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

table.task_manager_list {
  padding: 0 16px;
  width: 95%;
  font-size: 14px;
}
table.task_manager_list tr:not(:first-child):hover {
  filter: brightness(1.05);
}
table.task_manager_list tr.task_listRow_overdue {
  background: #f9b2b2;
  background: linear-gradient(135deg, #fcd8d8, #f9b2b2);
  color: #902525;
}
table.task_manager_list tr.task_listRow_upcoming {
  background: #9edbc9;
  background: linear-gradient(135deg, #ceede4, #9edbc9);
  color: #076448;
}
table.task_manager_list tr th {
  overflow: auto;
  background: #cccccc;
  color: #333333;
  resize: horizontal;
  padding: 4px;
  text-transform: capitalize;
}
table.task_manager_list tr th:first-child {
  flex: 3;
}
table.task_manager_list tr th:last-child {
  flex: 2;
}
table.task_manager_list tr td {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
}
table.task_manager_list tr td:first-child {
  padding: 4px 12px;
}
table.task_manager_list tr td:last-child {
  text-align: center;
  padding: 4px;
}

div.dashboard_field_bodysRows {
  width: 100%;
  margin-top: 12px;
  padding: 8px 0;
  transition: left 0.7s ease-in-out;
}
div.dashboard_field_bodysRows h5 {
  margin-left: 8px;
  padding: 4px 8px;
  font-size: 20px;
}
div.dashboard_field_bodysRows div.task_manager_list {
  padding: 4px 16px;
}
div.dashboard_field_bodysRows div.pending_folder_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
div.dashboard_field_bodysRows div.pending_folder_list div {
  display: flex;
  justify-content: evenly;
  width: 64px;
  height: 58px;
  align-items: center;
  position: relative;
  margin: 8px;
  cursor: pointer;
}
div.dashboard_field_bodysRows div.pending_folder_list div:hover {
  filter: brightness(1.1);
}
div.dashboard_field_bodysRows div.pending_folder_list div::before {
  content: attr(data-folderName);
  overflow: hidden;
  display: -webkit-box;
  position: absolute;
  top: 30%;
  width: 64px;
  height: 28px;
  color: #666666;
  font-size: 14px;
  text-align: center;
  line-height: 12px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transform: translateX(-2px) translateY(40px);
  text-overflow: ellipsis;
}
div.dashboard_field_bodysRows div.pending_folder_list div:hover::before {
  content: attr(data-folderName);
  filter: brightness(1.2);
}
div.dashboard_field_bodysRows div.pending_folder_list div img {
  margin: 8px;
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 1024px) {
  main#user_dashboard_main_frame div.user_dashboard_fields div.dashboard_field_contentBox {
    display: block;
  }
  div.user_dashboard_fields {
    margin-top: 24px;
  }
  div.user_dashboard_fields div.dashboard_field_contentBox {
    display: block;
  }
}
.form_container {
  text-align: left;
}

.formik_error_msgs {
  padding: 0px 14px;
  font-size: 14px;
  line-height: 0;
  text-align: left;
  color: #f03e3e;
  float: left;
}

.login_text_field_row {
  padding: 8px 0;
}

.login_text_field_row_main {
  height: 72px;
}

.login_text_field_label {
  display: block;
  padding-left: 14px;
  text-transform: capitalize;
  color: #666666;
  font-size: 14px;
  font-weight: bold;
}

.login_text_field_input {
  display: block;
  width: 100%;
  height: 42px;
  padding-left: 14px;
  border-radius: 20px;
  font-size: 18px;
  color: #333333;
}

.caseInfo_text_field_label {
  display: flex;
  align-items: center;
  padding-left: 18px;
  width: 120px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
  color: #666666;
}

.caseInfo_text_field_input {
  margin: 16px 8px;
  padding: 8px 24px;
  width: 40vw;
  height: 48px;
  border-radius: 15px;
  font-size: 16px;
  translate: width 1s ease-in-out;
}

.caseInfo_select_field_input {
  margin: 8px;
  padding: 8px 24px;
  width: 40vw;
  height: 48px;
  border-radius: 15px;
  font-size: 16px;
  translate: width 1s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .caseInfo_text_field_input, .caseInfo_select_field_input {
    width: 30vw;
    translate: width 1s ease-in-out;
  }
}
@media screen and (max-width: 768px) {
  .caseInfo_text_field_input, .caseInfo_select_field_input {
    width: 48vw;
    translate: width 1s ease-in-out;
  }
}
div.caseInfo_table {
  background-color: #ffffff;
  padding: 58px 24px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 24px;
}
div.caseInfo_table div.caseInfo_sectionBox {
  margin-left: auto;
  margin-right: auto;
}
div.caseInfo_table h2.caseInfo_heading {
  margin-bottom: 12px;
  padding: 24px;
  text-align: center;
  line-height: 48px;
}
div.caseInfo_table div.caseInfo_outerRow {
  display: flex;
  width: 100%;
}
div.caseInfo_table div.caseInfo_btn_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 36px;
}
div.caseInfo_table div.caseInfo_btn_box :first-child {
  background-color: #cccccc;
}
div.caseInfo_table div.caseInfo_btn_box :first-child:hover {
  background-color: #333333;
  color: white;
}
div.caseInfo_table div.caseInfo_btn_box :last-child {
  background-color: #f7b233;
}
div.caseInfo_table div.caseInfo_btn_box :last-child:hover {
  filter: brightness(1.2);
}
div.caseInfo_table div.caseInfo_btn_box button {
  margin: 0px 2vw;
  border: none;
  padding: 18px 48px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 28px;
  cursor: pointer;
}
div.caseInfo_table div.caseInfo_btn_box button :active {
  transform: scale(0.98);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

main.user_dashboard_frame section.user_dashboard_contents {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 240px;
  width: calc(100vw - 240px);
  height: 100vh;
  padding: 36px 10%;
  background-color: #eeeeee;
  transition: left 0.7s ease-in-out;
}

@media screen and (max-width: 768px) {
  main.user_dashboard_frame section.user_dashboard_contents {
    left: 0;
    width: 100vw;
    transition: left 0.7s ease-in-out;
  }
}/*# sourceMappingURL=index.css.map */