@use '../scss/pages/homePage.scss';
@use '../scss/pages/loginPage.scss';
@use '../scss//pages/sidebar.scss';
@use '../scss//pages/userPage.scss';
@use '../scss/pages/formik.scss';


// HTML Base

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
