@use '../elements/colors.scss' as colors;
@use '../elements/fonts.scss' as fonts;



// (A) MAIN

.form_container {
  text-align: left;
}

// (1) error handling 

.formik_error_msgs {
  padding: 0px 14px;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  color: colors.$red_500;
  transform: translateY(-4px);
  float: left;
}

// (2) text field

// (2a) login form style

.login_text_field_row {
  padding: 8px 0;

  &:first-child {
    margin-top: 18px;
  }
}

.login_text_field_row_main {
  height: 72px;
}

.login_text_field_label {
  display: block;
  float: left;
  padding-left: 14px;
  text-transform: capitalize;
  color:  colors.$grey_500;
  font-size: fonts.$para_size_200;
  font-weight: bold;
}

.login_text_field_input {
  overflow: hidden;
  width: 100%;
  height: 42px;
  padding-left: 14px;
  border-radius: 20px;
  font-size: fonts.$para_size_400;
  color:  colors.$grey_700;
}

// (2b) case information page

.caseInfo_text_field_input {
  margin: 0px 8px 8px 8px;
  padding: 8px 18px;
  width: 90%;
  max-width: 90%;
  height: 42px;
  border-radius: 15px;
  font-size: fonts.$para_size_300;
  translate: width 1s ease-in-out;
}


// (3) Select Field

.caseInfo_select_field_input {
  margin: 0px 8px 16px 8px;
  padding: 8px 18px;
  width: 100%;
  height: 42px;
  border-radius: 15px;
  font-size: fonts.$para_size_300;
  translate: width 1s ease-in-out;
  cursor: pointer;
}



// RESPONSIVE DESIGNS

// @media screen and (max-width: 1024px) {

// }

@media screen and (max-width: 768px) {
  .caseInfo_text_field_input {
    width: 100%;
  }
}

