@use '../elements/colors.scss' as colors;
@use '../elements/fonts.scss' as fonts;



// A. MAIN

section#user_dashboard_content_speechRecog {
  transition: left 0.7s ease-in-out;
  background-color: colors.$grey_000;

  div#speechRecog_infoBox {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 7%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 3px 1px;
  }

  div#speechRecog_body {
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: calc(100vh - 80px);
  }
} 


// Information Bar

div#speechRecog_infoBox {

  div#speechRecog_infoBox_left, div#speechRecog_infoBox_right {
    display: flex;
    align-items: center;

    button {
      position: relative;
      margin-left: 2vw;
      border: none;
      background-color: transparent;
      text-decoration: none;
      cursor: pointer;
      
      &:hover {
        svg {
          fill: #fd7e14;
        }
        p {
          color: #fd7e14;
        }
      }

      svg {
        width: 24px;
        height: 24px;
        margin-left: auto;
        margin-right: auto;
        fill: colors.$grey_800;
        &.recog_icon_active {
          fill: #d9480f;
        }
        &.recog_icon_active {
          fill: #d9480f;
        }
      }

      p {
        font-size: fonts.$para_size_100;
        text-decoration: none;  
        text-align: center;
        line-height: 8px;
        color: colors.$grey_800;
        &.recog_icon_active {
          color: #d9480f;
        }
      }
    }
 
    .speechRecog_infoBox_title {
      overflow: hidden;
      width: 180px;
      margin-left: 14px;
      font-size: fonts.$para_size_500;
      transform: translateY(-4px);
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}


// Chat Board

div#speechRecog_chatBoard {
  display: flex;
  overflow: auto;
  position: relative;
  height: calc(100vh - 80px - 80px);
  flex-direction: column;
  padding: 20px 20px 80px 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 3px 1px;

  div.speechRecog_chats_system {
    display: flex; 
    position: relative;
    justify-content: center;
    align-items: center; 
    font-size: 14px; 
    color: #999999;
    padding: 8px 0;
    z-index: 100;

    &:before {
      content: " ";
      position: absolute;
      width: 80%;
      height: 1px;
      background-color: #999999;
      z-index: 0;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 100%;
      background-color: white;
      z-index: 200;
    }
  }

  div.speechRecog_chats {  
    width: fit-content;
    max-width: 70%;
    margin: 2px;
    padding: 12px;
    font-size: 14px;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px;
    &::before {
      content:"";
      position: absolute;
      width: 0;
      height: 0;
    }

    p.speechRecog_chats_nameText {
      font-weight: bold;
    }

    p.speechRecog_chats_bodyText {
      margin-top: 4px;
    }
  }

  div.speechRecog_chats_guests {
    background: #eeeeee;
  }

  div.speechRecog_chats_host {
    float: right;
    background: lightblue;
  }
}


// SPEAKER PANEL

div#speechRecog_speakerPanel {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 84px;
  opacity: 1;
  z-index: 1000px;

  div#speechRecog_speakerPanel_top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 25%;
    min-width: 200px;
    height: 100%;
    z-index: 1100;

    div.speechRecog_option_speaker {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 72px;
      height: 72px;
      transform: translateY(8px);
      cursor: pointer;  

      svg {
        width: 28px;
        height: 28px;
        fill: colors.$grey_800;
        &.recog_icon_active {
          fill: #d9480f;
        }
      }

      p {
        font-size: fonts.$para_size_100;
        color: colors.$grey_800;
        line-height: 12px;
        &.recog_icon_active {
          color: #d9480f;
        }
      }

      &:hover {
        svg {
          fill: #fd7e14;
        }
        p {
          color: #fd7e14;
        }
      }
    }
  }

  div#speechRecog_speakerPanel_bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 30%;
    min-width: 240px;
    height: 100%;
    background-color: colors.$grey_000;
    z-index: 1000;
    transform: perspective(100px) rotateX(30deg);
    box-shadow: rgba(99, 99, 99, 0.2) 2px 1px 4px 1px;
  }
}



// CONTROL PANEL 

div#speechRecog_controlPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  z-index: 1000;

  button {
    width: 80px;
    height: 80px;
    margin: 0 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
    &:hover {
      filter: brightness(1.2);
    }

    &:hover {
      div {
        svg.recog_icon_inactive, svg.recog_icon_active {
          fill: #fd7e14;
        }
        p.recog_icon_inactive, p.recog_icon_active {
          color: #fd7e14;
        }
      }
    }

    svg {
      margin-top: 12px;
      width: 24px;
      height: 24px;
      &.recog_icon_active {
        fill: #d9480f;
      }
      &.recog_icon_inactive {
        fill: colors.$grey_800;
      }
      &.recog_icon_disabled {
        fill: colors.$grey_300;
      }
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 36px;
      line-height: 12px;
      font-size: fonts.$para_size_100;
      transform: translateY(-12px);

      &.recog_icon_active{
        color: #d9480f;
      }
      &.recog_icon_inactive {
        color: colors.$grey_800;
      }
      &.recog_icon_disabled {
        color: colors.$grey_300;
      }
    }
  }
}

// Hidden - Info List

div.speechRecog_hidden_langList {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  right: calc(7vw + 28px);
  width: 180px;
  max-height: 0;
  z-index: 300;
  opacity: 0.8;
  color: transparent;
  transition: all 0.4s;

  &.speechRecog_hidden_langList_active {
    max-height: 360px;
    background-color: colors.$grey_700;
    color: colors.$grey_200;
    opacity: 1;
  }

  ul {
    overflow-y:scroll;
    width: 100%;

    li.langList_options {
      display: flex; 
      width: 100%;
      height: 40px;
      padding: 8px 24px;
      font-size: fonts.$para_size_200;
      cursor: pointer;
      &:hover {
        color: colors.$grey_000;
        background-color: colors.$grey_600;
      }
    }
  }

  div.speechRecog_hidden_langList_end {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid colors.$grey_000;
    padding: 2px;
    visibility: collapse;
    transition: all 0.4s;
    svg {
      fill: transparent;
      width: 12px;
      height: 12px;
      transition: all 0.2s;
    }

    &.speechRecog_hidden_langList_end_active {
      visibility: visible;
      svg {
        fill: colors.$grey_300;
        transition: all 0.4s ease-in-out;
      }
    }
  }
}

div.speechRecog_hidden_infoList {
  position: absolute;
  width: 320px;
  max-height: 0;
  top: 80px;
  right: 5vw;
  padding: 0 24px;
  color: transparent;
  background-color: colors.$grey_700;
  font-size: fonts.$para_size_200;
  opacity: 0.8;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.4s ease-in-out;
  z-index: 300;
  visibility: collapse;

  &.speechRecog_hidden_infoList_active {
    max-height: 100vh;
    height: auto;
    padding: 24px;
    color: colors.$grey_200;
    opacity: 1;
    visibility: visible;
    }
    
    div.speechRecog_hidden_infoList_btnBox {
      display: flex;
      justify-content: center;
  
      button.infoList_btnEdit {
        margin-top: 12px;
        border: none;
        padding: 8px 56px;
        border-radius: 20px;
        font-weight: 800;
        color: colors.$grey_900;
        font-size: fonts.$para_size_200;
        background-color: colors.$yellow_400;
        opacity: 0;
        cursor: pointer;
        transition: opacity 0.5s;
        &:hover {
          filter: brightness(1.2);
        }

        &.infoList_btnEdit_active {
          opacity: 1;
          transition: opacity 0.8s 0.3s;
        }
      }
    }

  div.speechRecog_hidden_tableCol {
    div {
      margin: 16px 0;
      display: flex;

      p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.infotable_left {
          width: 100px;
        }
      }
    }
  }
}


// B. RESPONSIVE DESIGN

@media screen and (max-width: 768px) {
  div#speechRecog_controlPanel {  
    button {
      cursor: pointer;
      margin: 0;
      width: 64px;
      transition: all 0.7s ease-in-out;
    }
  }
}